<div style="padding: 7px">
  
  <form [formGroup]="formDoc" (ngSubmit)="onSubmit()" novalidate>
    
    <mat-form-field>
      <app-input-file formControlName="requiredfile" placeholder="Required input" valuePlaceholder="No file selected" required></app-input-file>
      <button mat-button>Select file</button>
      <mat-error *ngIf="formDoc.get('requiredfile').hasError('required')">
        Please select a file
      </mat-error>
      <mat-error *ngIf="formDoc.get('requiredfile').hasError('maxContentSize')">
        The total size must not exceed {{formDoc.get('requiredfile')?.getError('maxContentSize').maxSize | byteFormat}}
        ({{formDoc.get('requiredfile')?.getError('maxContentSize').actualSize | byteFormat}}).
      </mat-error>
    </mat-form-field>
    
    <button type="submit" [disabled]="formDoc.invalid" mat-raised-button>Submit</button>
    
  </form>
  
</div>

<!--
  Copyright 2017 Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at http://angular.io/license
-->