#video-background {
  /*  making the video fullscreen  */
  position: fixed;
  left: 0;
  top: 0;
  min-width: 100%; 
  min-height: 100%;
  width: auto; 
  height: auto;
  z-index: -100;
}

.bg-gradient {
  background: purple; /* For browsers that do not support gradients */    
  background: -webkit-linear-gradient(left bottom, #B237EE, #1B6FF2); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top right, #B237EE, #1B6FF2); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top right, #B237EE, #1B6FF2); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top right, #B237EE, #1B6FF2); /* Standard syntax (must be last) */

  border-radius: 5px;
}
