<video autoplay loop id="video-background" muted plays-inline>
  <!-- <source src="https://player.vimeo.com/external/158148793.hd.mp4?s=8e8741dbee251d5c35a759718d4b0976fbf38b6f&profile_id=119&oauth2_token_id=57447761" type="video/mp4"> -->
  <source src="assets/10K_Feet.mp4" type="video/mp4">
  <!-- <source src="assets/The-Coast.mp4" type="video/mp4"> -->
  <!-- <source src="assets/Two-Swimmers.mp4" type="video/mp4"> -->
  <!-- <source src="assets/Keep_Running.mp4" type="video/mp4"> -->
  <!-- <source src="assets/Sunset-Lapse.mp4" type="video/mp4"> -->
</video>

<div class="container">
  <router-outlet></router-outlet>
</div>
