/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
// Used to enable SASS @extend's
@import "../node_modules/bootstrap/scss/bootstrap.scss";

main {
  @extend .bg-white;
  @extend .text-dark;
  @extend .py-4;
  @extend .px-3;
  // border-radius: 10px;
  @include media-breakpoint-up(xs) { 
    margin-top: 10rem;
  }
  @include media-breakpoint-up(sm) { 
    margin-top: 16rem;
  }
  @include media-breakpoint-up(md) { 
    margin-top: 20rem;
  }
}
