.link-display {
    font-size: 40px; 

    a {
        margin-left: .25em;
        font-size: .8em;
        padding: .3rem .7rem;

        i {
            font-size: 1.6rem;
        }

        &:hover {
            background-color: #dddddd;
            border-radius: 2rem;
            transition: background-color .15s linear;
        }
    }
}

.file-size-display {
    font-size: 24px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
