<main>
  <mat-horizontal-stepper [linear]="false" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Share link</ng-template>
        
        <mat-progress-bar [mode]="'indeterminate'" [value]="getTransferPercent()"></mat-progress-bar>
        <span class="link-display">https://fancyurl.here/{{connectionUrl}}</span>
        <button (click)="cancelTransfer()" routerLink="/cancel" class="btn btn-danger">Cancel</button>
        
        <!-- Button trigger modal -->
        <button type="button" data-toggle="modal" data-target="#locationApprovalModal" class="btn btn-success">
          Approve
        </button>
          
        <!-- Modal -->
        <div class="modal fade" id="locationApprovalModal" tabindex="-1" role="dialog" aria-labelledby="locationApprovalModalLabel" aria-hidden="true">
          <app-transfer-approval city="Dallas" state="Texas" country="USA" lat="51" lon="-96" (approval)="handleApproval($event)"></app-transfer-approval>
        </div>

      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Transfer in progress</ng-template>
        
        <mat-progress-bar [mode]="'determinate'" [value]="getTransferPercent()"></mat-progress-bar>
        <span *ngIf="getTotalSize() > 0" class="file-size-display my-2">{{abbreviateFileSize(getCurrentSize(), getTotalSize())}} / {{abbreviateFileSize(getTotalSize(), getTotalSize())}} - {{getTransferPercent()}}%</span>
        <button (click)="cancelTransfer()" routerLink="/cancel" class="btn btn-danger">Cancel</button>

      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Complete</ng-template>
      
      <p>Your file was successfully transfered.</p>
      
    </mat-step>
  </mat-horizontal-stepper>
</main>
