<main>
  <mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Share link</ng-template>
        
        <mat-progress-bar [mode]="'indeterminate'" class="mb-4"></mat-progress-bar>
        <span class="link-display d-block">http://{{ipAddress}}/{{connectionUrl}}<a (click)="copy('http://' + ipAddress + '/' + connectionUrl)" matTooltip="Copy short URL"><i class="fa fa-clone"></i></a></span>
        <small class="text-muted d-block mb-5">Have the receiver visit this URL</small>
        <button (click)="cancelTransfer()" routerLink="/cancel" class="btn btn-danger text-left">Cancel</button>
        
        <!-- Button trigger modal -->
        <button type="button" data-toggle="modal" data-target="#locationApprovalModal" class="btn btn-dark">Connection Details</button>
          
        <!-- Modal -->
        <div class="modal fade" id="locationApprovalModal" tabindex="-1" role="dialog" aria-labelledby="locationApprovalModalLabel" aria-hidden="true">
          <app-transfer-approval [city]="receiverLocation?.city || ''" [state]="receiverLocation?.state || ''" [country]="receiverLocation?.country || ''" [latitude]="receiverLocation?.latitude || 0" [longitude]="receiverLocation?.longitude || 0" (approval)="handleApproval($event)"></app-transfer-approval>
        </div>

      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Complete</ng-template>
      <mat-progress-bar [mode]="'determinate'" value="100" class="mb-4"></mat-progress-bar>
      
      <p class="mb-5 link-display">Your file was successfully transfered.</p>
      
    </mat-step>
  </mat-horizontal-stepper>
</main>
